body {
    font-family: "Arial";
}

.signin {
    display: none;
}

.signin_active {
    display: block;
}

.control {
    padding: 20px;
    border-radius: 25px;
    border: 1px solid gray;
    width: 200px;
    box-sizing: border-box;
}

.btn {
    background: green;
    color: white;
    padding: 20px;
    border-radius: 25px;
    border: none;
    display: block;
    width: 200px;
    box-sizing: border-box;
    cursor: pointer;
}

.welcome {
    display: none;
    padding: 10px;
    margin: 10px;
    background-color: slateblue;
    border-radius: 25px;
    text-align: center;
    color: white;
    font-weight: bold;
}

.welcome button {
    display: block;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    background-color: red;
    border-radius: 25px;
    color: white;
    border: none;
    cursor: pointer;
}

.welcome_active {
    display: block;
}
